<div class="col-3 bg-info position-fixed top-0 start-0" style="height: 100vh;">
    <a href="#!" style="justify-content: center;display: flex;align-items: center;"><img src="https://th.bing.com/th/id/R.b9e825b0ac409160fee016ff9dce3a22?rik=zkZ5PPCscELfmQ&pid=ImgRaw&r=0" alt="" style="width: 100px;height: 100px; border-radius: 50%;"></a>
    <div><h2 style="color:rgb(2, 59, 121); display: flex; justify-content: center; align-items: center;">hihi</h2></div>

    <div class="list-group mt-4">
        <a href="#!nguoi-dung" class="list-group-item">
            Quản lý người dùng
        </a>
        <a href="#!san-pham" class="list-group-item ">
            Quản lý sản phẩm
        </a>
        <a href="#" class="list-group-item ">
            Báo cáo
        </a>
        <a href="#" class="list-group-item ">
            Thống kê
        </a>
    </div>
</div>